.mt-1 {
    margin: 1rem
}

.d-flex {
    display: flex;
} 

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}